*,
*:before,
*:afret{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #f7f9fc;
	color: #000;
	font: 17px/1.7 Lato, sans-serif;
}

img{
	border: 0;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}