*,
*:before,
*:afret{
	box-sizing: border-box;
}
*{
	box-sizing: border-box;
}

body{
	margin: 0;
	background: #f7f9fc;
	color: #000;
	font: 17px/1.7 Lato, sans-serif;
}

img{
	border: 0;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9g18pa');
  src:  url('../fonts/icomoon.eot?9g18pa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9g18pa') format('truetype'),
    url('../fonts/icomoon.woff?9g18pa') format('woff'),
    url('../fonts/icomoon.svg?9g18pa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest:before {
  content: "\ead1";
}


.page{

	padding: 100px 0 0;
	
}

.grey-block,
.footer{
	width: 952px;
	margin: 0 auto;
}

.header{
	padding: 0;
	margin: 0 0 65px;

}

.header:after{
	content: '';
	display: block;
	clear: both;
}

.header .logo{
	padding: 0 25px;
	float: left;
}

.header .nav{
	float: right; 
}

.nav ul, 
.social{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
}

.nav ul li,
.social li{
	display: inline-block;
	text-transform: uppercase;
	padding: 0 17px;
}

.nav ul li a{
	color: #333333;
	text-decoration: none;
}

.nav ul li a:hover{
	color: #bdbdbd;
}

.main{
	background: #fff;
	padding: 75px 97px;
	margin: 0 0 122px;
	box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
}

.main h1{
	font-size: 40px
	font-weight: bold;
	line-height: 1.25;
	margin: 0 0 45px;
}

.main p{
	color: rgba(0,0,0, 0.8);
	margin: 0 0 30px;

}

.main .intro{
	color: rgba(0,0,0, 0.5);
	font-size: 25px;
	font-style: italic;
	line-height: 1.52;
	margin: 0 0 45px;
	padding: 0 0 45px;
	border-bottom: 1px solid #eeeeee;


}

.blue-block{
	background: #5c6bc0;
}

.footer{
	color: rgba(255,255,255, 0.4);
	padding: 65px 98px;
	text-align: center;
}

.footer .logo{
	width: 157px;
	margin: 0 auto 60px;
	opacity: 0.2;
}

.footer .nav{
	margin:  0 auto 42px;
	padding: 0 0 42px;
	border-bottom: 2px solid #5765b5;
	
}

.footer .nav ul li a, 
.social li a{
	color: #fff;
}

.footer .nav ul li a:hover,
.social li a:hover{
	color: rgba(255,255,255, 0.4);
}

.footer p{
	font-size: 13px;
	margin:  0 0 35px;
	padding: 0 0 42px;
	border-bottom: 2px solid #5765b5;
}

.develop{
	font-size: 14px;
	margin: 0 0 35px;

}

.develop a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin: 0 30px; 
}

.develop a:hover{
	color: rgba(255,255,255, 0.4);
}

.social li{
	padding: 0 8px;
}